.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
/* FIRST PANEL */
.firstPanelWrapper {
  display: flex;
  flex-direction: row;
  height: 90vh;
  overflow: hidden;
}
.firstPanelTextWrapper {
  width: 60vw;
  height: 90vh;

  background-color: #8bc6ec;
  background-image: linear-gradient(145deg, #8bc6ec 0%, #9599e2 100%);

  color: #021542;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.firstPanelButton {
  width: 30%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;

  background-color: #021542;
  border: none;
  border-radius: 5px;

  color: white;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

/* SECOND PANEL */
.secondPanelWrapper {
  width: 100vw;
  height: 102vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.secondPanelContent {
  position: absolute;
  border: 2px solid aliceblue;

  width: 54vw;
  height: 84vh;
  color: black;
}

@media only screen and (max-width: 990px) {
  .container {
    flex-direction: column;
    width: 100vw;
  }
  .firstPanelWrapper {
    flex-direction: column;
    width: 100vw;
  }
  .firstPanelTextWrapper {
    margin-top: 3vh;
    /* border: 2px solid black; */
    width: 100%;
    height: 50vh;
    margin: 0%;
  }
  .firstPanelButton {
    width: 75%;
    margin-bottom: 3vh;
  }
  .floatingMessage {
    top: -4vh;
    width: 98%;
    height: 40%;
    left: 1.5vw;
    right: 1.5vw;
    border-radius: 10px;
  }
  .secondPanelContent {
    height: 50vh;
  }
}
